<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <img class="navbar-brand" src="/assets/images/open-road.jpeg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-4 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Wayfarer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cities">Cities</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control m-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success m-1" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


