.container{
  background-color: #fdffd5;
}

.city-information{
  border: 1px solid black;
}
.city-side-bar{
  background-color: gray;
  border: black solid 1px;
}

.city-tabs{
  background-color: white;
  border-radius: 20px;
  border: black solid 1px;
  margin: 10px;
  width: 240px;
  min-height: 50px;
  padding: 10px;
}

.city-tabs h4{
  width: 220px;
  margin: 5px;
}
.city-tabs img{
  display: block;
  width: 100%;
  height: 50px;
  width: 50px;
  border: solid black;
  align-content: center;
}

.city-tabs:hover{
  background-color: orange;
}
