.city-information{
  border: 1px solid black;
}
.city-sideBar{
  background-color: gray;
  border: black solid 1px;
  text-align: center;
}
.city sideBar h1{
  margin-left: 30px;
}
.city-tabs{
  background-color: white;
  border-radius: 20px;
  border: black solid 1px;
  height: 160px;
  margin: 10px;
  width: 190px;
  text-align: center;

}
.city-tabs img{
  display: block;
  width: 100px;
  height: 40px;
  margin: 13px 10px 20px 30px;
  border: solid black;
  align-content: center;
}
.city-tabs h4{
  margin: 10% 0;
}
.city-tabs:hover{
  background-color: orange;
}
